<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search History</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container mt-5">
    <div class="navigation mb-4">
        <a href="/weather-app" class="btn btn-primary">Local Weather</a>
        <a href="/air-quality" class="btn btn-secondary">Air Quality</a>
        <a href="/moonphase" class="btn btn-secondary">Moon Phase</a>
        <a href="/history" class="btn btn-info">View Search History</a>
        <a href="/logout" class="btn btn-info">Logout</a>
    </div>
    <h1>Activity History for <%= username %></h1>

    <section>
        <h2>Weather Data</h2>
        <% weatherData.forEach(function(data) { %>
            <p>Date: <%= data.createdAt.toDateString() %>, City: <%= data.city %>, Temperature: <%= data.temperature %>, Description: <%= data.description %></p>
        <% }) %>
    </section>

    <section>
        <h2>Air Quality Data</h2>
        <% airQualityData.forEach(function(data) { %>
            <p>Date: <%= data.createdAt.toDateString() %></p>
            <p>Air Quality Index (AQI): <%= data.result.data.aqi %></p>
            <p>Location: <%= data.query %></p>
            <p>Dominant Pollutant: <%= data.result.data.dominentpol.toUpperCase() %></p>
            <p>PM2.5 Value: <%= data.result.data.iaqi.pm25?.v || 'N/A' %> µg/m³</p>
            <p>PM10 Value: <%= data.result.data.iaqi.pm10?.v || 'N/A' %> µg/m³</p>
            <p>CO Value: <%= data.result.data.iaqi.co?.v || 'N/A' %> mg/m³</p>
            <p>SO2 Value: <%= data.result.data.iaqi.so2?.v || 'N/A' %> µg/m³</p>
            <p>NO2 Value: <%= data.result.data.iaqi.no2?.v || 'N/A' %> µg/m³</p>
            <hr>
        <% }) %>
    </section>

    <section>
        <h2>Moon Phase Data</h2>
        <% moonPhaseData.forEach(function(data) { %>
            <p>Date: <%= data.fetchedAt.toDateString() %>, City: <%= data.cityName %>, Phase: <%= data.moonPhase.phase_name %></p>
        <% }) %>
    </section>

</div>

<footer class="text-center mt-4 mb-3">
    Orazaly Makambet SE-2206
</footer>

<script src="app.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
